h1{
  color: white;
}

h2{
  margin-top: 1.5em;
}

.jumbotron{
  text-align: center;
  background-image: url("/assets/images/ocean-wave.jpg");
  background-size: cover;
}

.container{
  padding-top: 5em;
}

.full-page{
  background: antiquewhite;
}
