<div class="full-page">
  <div class="container">
    <div class="jumbotron">
      <h1>
        Welcome to {{title}}!
      </h1>
      <img width="300" alt="HTW Logo" src="assets/images/logo-htw.png">
    </div>
  </div>

  <div class="container bottom">
    <h2>ECCO - Explore Chemical Characteristics of the Ocean</h2>
    <h3>Webplattform zur Analyse, Aggregation und Visualisierung von Meeresdaten</h3>

    <p>
      Zur Untersuchung der Folgen des Klimawandels wurde unter dem Dach des Global Ocean Observing System das
      ARGO-Projekt
      gegründet.
      Ziel des Projekts ist es, Daten zu den chemischen Eigenschaften zu sammeln und auszuwerten. Hierzu tauchen
      Messbojen
      in bis zu 2000m
      Tiefe herab und messen Temperatur, Salzgehalt sowie die Leitfähigkeit des Wassers. Die gewonnen Daten werden
      monatlich bereitgestellt
      und können in eigenen Projekten verwendet werden. <br/>
      Für die Analyse und Visualisierung der Daten existieren einige Werkzeuge, diese fokussieren jedoch Nutzer mit viel
      Hintergrundwissen und
      erfordern viel Einarbeitungsaufwand.<br/>
      In dem Projektstudium soll eine Webplattform konzeptioniert und implementiert werden, die die Daten des
      Argo-Projekts automatisiert
      herunterlädt, in eine dokumentenorientierte Datenbank (z.B. MongoDB) speichert, diese analysiert und evtl.
      aggregiert sowie diese im Rahmen
      einer Webanwendung visualisiert.
    </p>

    <h3>Technologien</h3>
    <p>
      Für die Implementierung der Plattform sollen die folgenden Technologien verwendet werden: Scala als
      Programmiersprache für das Backend, Spark
      als Framework zur verteilten Analyse und Aggregation der Daten, sbt zur Verwaltung des Softwareprojekts und eine
      dokumentierte die
      NoSQL-Datenbank wie MongoDB für die Speicherung der Argo-Daten. Das Webfrontend soll mit AngularJS implementiert
      werden.
    </p>

    <h2>Useful Links:</h2>
    <ul>
      <li>
        <a target="_blank" rel="noopener" href="http://www.argo.ucsd.edu/About_Argo.html">About the Project</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://archimer.ifremer.fr/doc/00187/29825/40575.pdf">Data
          Explained</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://github.com/ecco-htw">ECCO Project HTW on GitHub</a>
      </li>

    </ul>
  </div>
</div>
