<!--<mat-toolbar class="mat-elevation-z8" color="primary">
  HTW ECCO
</mat-toolbar>
-->
<mat-toolbar>
  <mat-toolbar-row class="justify-content-end">
    <!-- Sets the home and map icons for navigation and adds routing properties-->
    <mat-button-toggle class="mat-icon-button" routerLink="home">
      <i class="mdi mdi-24px mdi-home"></i>
    </mat-button-toggle>
    <mat-button-toggle class="mat-icon-button" routerLink="">
      <i class="mdi mdi-24px mdi-map"></i>
    </mat-button-toggle>
  </mat-toolbar-row>
</mat-toolbar>
