<meta charset="utf-8">
<div class='impressum'>
  <h1>Impressum</h1>
  <h3>Angaben gemäß § 5 TMG</h3>
  <p>HTW Berlin <br>
    Wilhelminenhofstr. 75A<br>
    12459 Berlin <br>
  </p>
  <h3>Vertreten durch:</h3>
  <p>Prof. Dr.-Ing Hendrik Gärtner</p>
  <h3>Kontakt:</h3>
  <p>Telefon: +49 30 5019-3594<br>
    Fax: +49 30 5019-48-3594<br>
    E-Mail: <a href='mailto:max@muster.de'>ecco-project@lists.htw-berlin.de</a></p>

  <h3>Haftungsausschluss: </h3>
  <h4>Haftung für Links</h4>
  <p>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
    können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
    stets
    der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
    Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
    erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
    einer
    Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
    entfernen.</p><br>
  Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
  href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a>
</div>
