<!-- Für die Ladeanimation und -nachricht -->
<div *ngIf="(buoyDetailsLoading$ | async); else elseBlock">
<mat-list>
  <mat-list-item>
    
      <div class="loader"></div>
      <div id="loadText">
        <h6 class="headline">Bojendaten werden geladen</h6>
      </div>
  </mat-list-item>
</mat-list>
</div>

<!-- ng-template wird für die Fallunterscheidung als Container benötigt -->
<ng-template #elseBlock>
 <mat-list>
   <mat-list-item>
     <table *ngIf="buoy$ | async as buoy">
       <tbody>
           <tr>
             <th>ID </th>
             <td>{{buoy.id}}</td>
           </tr>
     </tbody>
    </table>
   <!--
   </mat-list-item>
   <mat-divider></mat-divider>
   <mat-list-item class="details-container">
     <table *ngIf="buoy$ | async as buoy">
       <tbody>
       <tr>
         <th>ID</th>
         <td>{{buoy.id}}</td>
       </tr>
       Zeigt keine Werte, vielleicht später fixen
       <tr>
         <th>Longitude</th>
         <td>{{buoy.longitude}}</td>
       </tr>
       <tr>
         <th>Latitude</th>
         <td>{{buoy.latitude}}</td>
       </tr>
       
       </tbody>
     </table>
   -->
   </mat-list-item>
   <mat-divider></mat-divider>

   <mat-list-item>Temperatur [°C]</mat-list-item>
   <mat-divider></mat-divider>
   <mat-list-item class="chart-list-item">
     <div class="chart-container">
       <ngx-charts-line-chart
         [gradient]="false"
         [legendPosition]="'bottom'"
         [legend]="false"
         [margin]="[0, 0, 0, 0]"
         [results]="temperatureSeries$ | async"
         [scheme]="{ domain: ['#ff5252'] }"
         [showGridLines]="false"
         [showXAxisLabel]="false"
         [showYAxisLabel]="false"
         [xAxisLabel]="'X-Axis'"
         [yAxis]="'Y-Axis'">
       </ngx-charts-line-chart>
     </div>
   </mat-list-item>
   <mat-divider></mat-divider>

   <mat-list-item>Druck [p]</mat-list-item>
   <mat-divider></mat-divider>
   <mat-list-item class="chart-list-item">
     <div class="chart-container">
       <ngx-charts-line-chart
         [gradient]="false"
         [legendPosition]="'bottom'"
         [legend]="false"
         [margin]="[0, 0, 0, 0]"
         [results]="pressureSeries$ | async"
         [scheme]="{ domain: ['#757575'] }"
         [showGridLines]="false"
         [showXAxisLabel]="false"
         [showYAxisLabel]="false"
         [xAxisLabel]="'X-Axis'"
         [yAxis]="'Y-Axis'">
       </ngx-charts-line-chart>
     </div>
   </mat-list-item>
   <mat-divider></mat-divider>

   <mat-list-item>Salzgehalt [g/l]</mat-list-item>
   <mat-divider></mat-divider>
   <mat-list-item class="chart-list-item">
     <div class="chart-container">
       <ngx-charts-line-chart
         [gradient]="false"
         [legendPosition]="'bottom'"
         [legend]="false"
         [margin]="[0, 0, 0, 0]"
         [results]="saltinessSeries$ | async"
         [scheme]="{ domain: ['#40c4ff'] }"
         [showGridLines]="false"
         [showXAxisLabel]="false"
         [showYAxisLabel]="false"
         [xAxisLabel]="'X-Axis'"
         [yAxis]="'Y-Axis'">
       </ngx-charts-line-chart>
     </div>
   </mat-list-item>
   <mat-divider></mat-divider>
 </mat-list>
</ng-template>
